@import url('colors.css');

:root {
    /* text */
    
    --asc-txt:                  var( --mol-purple );
    --asc-txt-alt:              var( --mol-white );
    --asc-txt-sec:              var( --mol-purple-dark );
    --asc-txt-ui-sec:           var( --mol-purple-trans );
    --asc-txt-ui-sec-alt:       var( --mol-purple-trans-10 );
    --asc-txt-alt-inverted:     var( --mol-black );

    --asc-txt-ui:               var( --mol-black-light );
    --asc-txt-ui-alt:           var( --mol-black );

    --asc-txt-hover:            var( --mol-white );

    /* buttons, etc. */

    --asc-bg:                   var( --mol-purple );
    --asc-bg-alt:               var( --mol-white );
    --asc-bg-border:            var( --mol-gray-light );
    --asc-bg-border-alt:        var( --mol-purple );

    /* svg */
    --asc-bg-svg:               var( --mol-purple );
}